<<<<<<< Updated upstream

// .is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     visibility: hidden;
// }
// .is-hidden,
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-color: #000000;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition-property: opacity visibility;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
=======
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-color: $color-black;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition-property: opacity visibility;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
>>>>>>> Stashed changes

    &.active {
        visibility: visible;
        z-index: 10;
        opacity: 1;
    }

<<<<<<< Updated upstream
    .modal {
        background-color: #fff;
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 280px;
        height: auto;
        font-weight: 500;
        padding: 0;
=======
  .modal {
    background-color: $color-white;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: auto;
    font-weight: 500;
    padding: 0;
>>>>>>> Stashed changes

        @media screen and (max-width: 1279px) {
            max-height: 90%;
            // overflow: auto;
            
        }

        @media screen and (min-width: 768px) {
            width: 704px;
            height: auto;
            margin-bottom: 20px;
            // height: 552px; 
        }

        @media screen and (min-width: 1280px) {
            // width: 50vw;
            // max-width: 90%;
            // height: 50vh;
            // max-height: 90%;
            // height: 558px;
            width: 806px;
            height: auto;
            max-height: 558px;
        }
    }
}


.form {
    padding: 40px 20px 48px 20px;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }

<<<<<<< Updated upstream
    @media screen and (min-width: 768px) {
        display: flex;
        padding: 40px 72px 40px 36px;
        width: 704px;
        // height: 552px; 
        height: auto;
        // max-height: 552px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        padding: 40px 12px;
        width: 806px;
        // height: 558px;
        max-height: 558px;
    }
}

.form__title {
    color: #000000;
    // text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
=======
    @media screen and (min-width: $tablet) {
      width: 704px;
      height: auto;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
      width: 806px;
      height: auto;
      max-height: 558px;
    }
  }
}

.form {
  padding: 40px 20px 48px 20px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    padding: 40px 72px 40px 36px;
    width: 704px;
    height: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 40px 12px;
    width: 806px;
    max-height: 558px;
  }
}

.form__title {
  color: $color-black;
  // text-transform: uppercase;
  font-size: 20px;
  line-height: 23px;
>>>>>>> Stashed changes

    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }

<<<<<<< Updated upstream
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 35px;
    }
=======
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 35px;
  }
>>>>>>> Stashed changes
}

.form__info {
    max-height: 850px;

<<<<<<< Updated upstream
    @media screen and (min-width: 768px) {
        margin-left: 68px;
        max-height: 470px;

    }

    @media screen and (min-width: 1280px) {
        margin-left: 18px;
        max-height: 478px;
    }

=======
  @media screen and (min-width: $tablet) {
    margin-left: 68px;
    max-height: 470px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 18px;
    max-height: 478px;
  }
>>>>>>> Stashed changes
}

// INFO
.form__info-list {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.form__info-item {
    display: flex;
}

.form__info-item:not(:last-child) {
    margin-bottom: 8px;
}

.form__info-name {
    width: 110px;
    color: #8C8C8C;

<<<<<<< Updated upstream
    @media screen and (min-width: 768px) {
        width: 140px;
    }
}

.form__info-details {
    display: flex;
    align-items: center;
    color: #000000;
=======
  @media screen and (min-width: $tablet) {
    width: 140px;
  }
}

.form__info-details {
  display: flex;
  align-items: center;
  color: $color-black;
>>>>>>> Stashed changes
}

.details-title {
    // text-transform: uppercase;
}

.film__rating {
<<<<<<< Updated upstream
    color: #fff;
    background-color: #B92F2C;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    
=======
  color: $color-white;
  background-color: $color-red;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
>>>>>>> Stashed changes
}
.film__voice {
    margin-left: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 14px;
}



// ABOUT
.form__about-details {
<<<<<<< Updated upstream
    width: 240px;
    max-height: 200px;
    // overflow: auto;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    // margin-bottom: 20px;
    // padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: 264px;
    }

    @media screen and (min-width: 1280px) {
        width: 391px;
    }
=======
  width: 240px;
  max-height: 200px;
  // overflow: auto;
  font-size: 12px;
  line-height: 20px;
  color: $color-black;


  @media screen and (min-width: $tablet) {
    width: 264px;
  }

  @media screen and (min-width: $desktop) {
    width: 391px;
  }
>>>>>>> Stashed changes
}

.form__about-name {
    margin-bottom: 8px;
    line-height: 16px;
    align-items: center;
    text-transform: uppercase;
}

.form__about {
    margin-top: 20px;
}

// BUTTON
.form__btn-list {
<<<<<<< Updated upstream
    display: flex;
    // padding-top: 20px;
    margin-top: 20px;

@media screen and (min-width: 120px) and (max-width: 767px) {
        // padding-top: 60px;
    }

@media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 5px;
    }

=======
  display: flex;
  margin-top: 20px;

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    padding-top: 5px;
  }
>>>>>>> Stashed changes
}


.from__btn-list-tr {
display: flex;
    margin-left: 87px;
    margin-top: 10px;

    @media screen and (min-width: 120px) and (max-width: 767px) {
            margin-left: 60px;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin-left: 70px;
        }

<<<<<<< Updated upstream
=======
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    margin-left: 70px;
  }
>>>>>>> Stashed changes
}


.form-add-btn,
.form-button {
<<<<<<< Updated upstream
    text-align: center;
    width: 110px;
    height: 42px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-style: normal;
    cursor: pointer;
    color: #B92F2C;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 100px;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);

    @media screen and (min-width: 768px) {
        width: 125px;
    }

    @media screen and (min-width: 1280px) {
        width: 165px;
    }
=======
  text-align: center;
  width: 110px;
  height: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-style: normal;
  cursor: pointer;
  color: $color-red;
  background-color: $color-white;
  border: 1px solid $color-black;
  border-radius: 100px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {
    width: 125px;
  }

  @media screen and (min-width: $desktop) {
    width: 165px;
  }
>>>>>>> Stashed changes
}

.form-button:not(:last-child) {
    margin-right: 15px;
}

.is-added {
<<<<<<< Updated upstream
        // cursor: pointer;
        color: #B92F2C;
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
=======
  color: $color-red;
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
>>>>>>> Stashed changes
}



.form-add-btn:hover,
.form-add-btn:focus,
.remove-watched-btn,
.form-queue-btn:hover,
.form-queue-btn:focus,
.remove-queue-btn {
<<<<<<< Updated upstream
    color: #fff;
    // cursor: pointer;
    background-color: #B92F2C;
    border: 2px solid #B92F2C;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

// .form-add-btn:hover,
// .form-add-btn:focus,
// .remove-watched-btn {
//     color: #fff;
//     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
//     cursor: pointer;
//     color: #B92F2C;
//     background-color: #fff;
//     border: 2px solid #B92F2C;
// }


// .form-trailer-btn:hover,
// .form-trailer-btn:focus,
// .remove-trailer-btn {
//     color: #fff;
//     cursor: pointer;
//     background-color: #B92F2C;
//     border: 2px solid #B92F2C;
//     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
// }




// BUTTON-CLOSE
.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    font-weight: 900;
    // border-radius: 50%;
    background: #fff;
    border: 0px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
=======
  color: $color-white;
  background-color: $color-red;
  border: 2px solid $color-red;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

// BUTTON-CLOSE
.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  font-weight: 900;
  background: $color-white;
  border: 0px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
>>>>>>> Stashed changes
}

.form__close-icon {
    position: absolute;
        top: 1px;
        right: -3px;
}

.btn-close:hover,
.btn-close:focus {
<<<<<<< Updated upstream
    border: 1px solid #B92F2C;
    fill: #B92F2C;
    // background: #B92F2C;
    // color: #fff;
    border-radius: 50%;
    // border: 0px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
=======
  border: 1px solid $color-red;
  fill: $color-red;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
>>>>>>> Stashed changes
}

// IMG
.form-img {
    width: 240px;
    height: 357px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;

<<<<<<< Updated upstream
    @media screen and (min-width: 768px) {
        width: 264px;
        height: 374px;

    }

    @media screen and (min-width: 1280px) {
        height: 478px;
        width: 100%;
    }
=======
  @media screen and (min-width: $tablet) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: $desktop) {
    height: 478px;
    width: 100%;
  }
>>>>>>> Stashed changes
}

body.modal.active {
    height: 100vh;
    overflow-y: hidden;
}



.form__film-card {
<<<<<<< Updated upstream
        // height: 0;
        position: relative;
        padding-bottom: 56.25%;


    @media screen and (min-width: 240px) and (max-width: 767px) {
        height: 334px;
        // width: 704px;
        // height: 552px; 
        // height: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1280px) {
        height: 0;
    }
=======
  position: relative;
  padding-bottom: 56.25%;

  @media screen and (min-width: 240px) and (max-width: 767px) {
    height: 334px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    height: 0;
  }
>>>>>>> Stashed changes
}

.form__film-card iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
