@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.ttf);
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Roboto-Medium.ttf);
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
    U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: $color-black;
  background-color: $color-white;
}

a:hover,
button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visially-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  max-width: $mobile;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-top: 32px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

// Тут мають бути описані загальні стилі для кнопок хедера та модалки фільму

//////

// Кнопка Home
.icon-home {
  position: fixed;
  right: 10px;
  bottom: 20px;
  @media screen and (min-width: $tablet) {
    right: 30px;
    bottom: 30px;
  }
  z-index: 1;

  display: inline-block;
  width: 32px;
  height: 32px;
  @media screen and (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: $desktop) {
    width: 46px;
    height: 46px;
  }
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url('../images/home-icon.png');
  background-size: contain;
}

// Стилі бекдропа та модалки
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;

  transition: opacity $time-duration $timing-function,
    visibility $time-duration $timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    display: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-height: 100%;
  overflow-y: auto;

  background-color: $color-white;

  // border: 2px solid $color-yellow;
  // border-radius: 10px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform $time-duration $timing-function,
    opacity $time-duration $timing-function;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
  }

  @media screen and (max-width: 767px) {
    // width: 280px;
  }

  @media screen and (min-width: $tablet) {
    // width: 568px;
  }
}

.modal__close-btn {
  position: absolute;
  // top: 12px;
  // right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
  border: none;

  &:hover > svg,
  &:focus > svg {
    // fill: $color-green-for-btn;
    transition: fill $time-duration $timing-function;
  }
}
