<header class="header">
  <div class="form-btn">
    <div class="header-form">
      <form class="search-form">
        <input
          type="text"
          class="header-input border-btn"
          placeholder="Movie search"
        />
        <button type="submit" class="header-submit"></button>
      </form>
      <button class="home-btn border-btn">Home</button>
      <button class="my-library-btn border-btn">My library</button>
    </div>
    <div class="header-btn">
      <button class="watcher-btn border-btn">Watched</button>
      <button class="queue-btn border-btn">Queue</button>
    </div>
  </div>
</header>
