<header id="home" class="header">
  <div class="header-nav">
    <button class="home-btn border-btn btn-text">Home</button>
    <button class="my-library-btn border-btn btn-text">My library</button>
  </div>
  <div class="header-form">
    <form class="search-form">
      <input type="text" name="searchQuery" class="header-input border-btn" placeholder="Movie search" />
      <button type="submit" class="header-submit">
        <svg class="icon-search">
          <use xlink:href="../src/images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
  <div class="logo-wrapper">
    <a class="logo" href="#">
      <svg class="svg-filmoteka">
        <use xlink:href="../src/images/icons.svg#icon-film"></use>
      </svg>
      <h1>Filmoteka</h1>
    </a>
  </div>
  <div class="header-filters">
    <button class="watched-btn border-btn btn-text is-hidden">Watched</button>
    <button class="queue-btn border-btn btn-text is-hidden">Queue</button>
  </div>
</header>