<header id="home" class="header">
  <div class="form-container">
    <form class="logForm">
      <h1 class="logForm_title">Log in</h1>
      <input
        type="email"
        placeholder="email"
        name="email"
        class="email input"
      />
      <svg class="log-user">
        <use href="../src/images/icons.svg#icon-log-user"></use>
      </svg>
      <input
        type="password"
        placeholder="password"
        name="password"
        class="password input"
      />
      <button class="lock-button" type="button">
        <svg class="lock">
          <use class="lock-svg" href="../src/images/icons.svg#icon-lock"></use>
        </svg>
      </button>

      <div class="logForm_buttons">
        <button type="button" class="log-in btn">Log in</button>
        <span class="choose"> OR </span>
        <button type="button" class="sign-up btn">Sign up</button>
      </div>
      <button class="done btn" type="submit">
        <svg class="checkmark">
          <use href="../src/images/icons.svg#icon-checkmark"></use>
        </svg>
      </button>
    </form>

    <button class="exit-button">
      <svg class="exit-icon">
        <use href="../src/images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
  </div>
  `
  <div class="slider">
    <div class="container_img">
      <img
        src="/src/images/red.jpg"
        srcset="/src/images/red.jpg 1x, /src/images/red2x.jpg 2x"
        class="slider_img"
        alt="slider card"
      />
      <img
        src="/src/images/orange.jpg"
        srcset="/src/images/orange.jpg 1x, /src/images/orange2x.jpg 2x"
        class="slider_img"
        alt="slider card"
      />
      <img
        src="/src/images/yellow.jpg"
        srcset="/src/images/yellow.jpg 1x, /src/images/yellow2x.jpg 2x"
        class="slider_img"
        alt="slider card"
      />
    </div>
  </div>
  <div class="header-nav">
    <button class="btn home-btn active-btn" id="1">Home</button>
    <button class="btn my-library-btn" id="2">My library</button>
  </div>
  <div class="header-form">
    <form class="search-form">
      <input
        type="text"
        name="searchQuery"
        class="header-input"
        placeholder="Movie search"
      />
      <button type="submit" class="header-submit" aria-label="search">
        <svg class="icon-search">
          <use href="../src/images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
  <div class="logo-wrapper">
    <a class="logo" href="#">
      <svg class="svg-filmoteka">
        <use xlink:href="../src/images/icons.svg#icon-film"></use>
      </svg>
      <span class="logo-text">Filmoteka</span>
    </a>
    <div class="auth-box">
      <button class="btn auth-btn">
        Log in
        <svg class="svg-enter">
          <use xlink:href="../src/images/icons.svg#icon-enter"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="header-filters">
    <button class="btn watched-btn is-hidden">Watched</button>
    <button class="btn queue-btn is-hidden">Queue</button>
  </div>
</header>
