<div class="backdrop is-hidden js-overlay-modal">
  <div class="modal-container" data-modal="100">
  <div class="modal-team modal-team__wrap">
    <div class="modal__btn-container">
      <button
        type="button"
        class="modal-btn-close js-close-modal"
        aria-label="Button-close"
      >
        <svg width="18" height="18">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <h1 class="modal-title">Team</h1>
      <div class="modal-team__container">
        <ul class="modal-team__list">
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Oleg.jpeg"
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Oleg Bilas</h2>
            <p class="team__profession">Team-lead</p>
            <a
              class="team__social"
              href="https://github.com/OlegBilas"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Inna.jpg"
                alt="Inna"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Inna Shavarovska</h2>
            <p class="team__profession">Scrum-master</p>
            <a
              class="team__social"
              href="https://github.com/InnaShavarovska"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Oleksandr.jpg"
                alt="Oleksandr"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Oleksandr Samarskyi</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/bolt2000"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Shadi.jpeg"
                alt="Shadi"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Shadi Abumutair</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Shadioso"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Viktoria.jpg"
                alt="Vika"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Vika Rabotilova</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=" https://github.com/VikaJobs"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Vlad.jpg"
                alt="Vlad"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Vlad Shostak</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/VlShost"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Yevhen.jpeg"
                alt="Yevhen"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Yevhen Chaban</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/YevhenChaban"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Viktor.jpg"
                alt="Viktor"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Viktor Dubrovets</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Oakmoater"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Nataliia.jpg"
                alt="Nataliia"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Nataliia Rumiantseva</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/NatiRumi?tab=repositories"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Ivan.jpg"
                alt="Ivan"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Ivan Tishchenko</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Ivan-Tishchenko"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
  </div>
  </div>
</div>





