
  <div class="modal-container"></div>
  <div class="modal-team modal-team__adapt">
    <h1 class="modal-title">Team</h1>
      <div class="modal-team__container">
        <ul class="modal-team__list">
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Oleg.jpeg"
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Oleg Bilas</h2>
            <p class="team__profession">Team-lead</p>
            <a
              class="team__social"
              href="https://github.com/OlegBilas"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Inna.jpg"
                alt="Inna"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Inna Shavarovska</h2>
            <p class="team__profession">Scrum-master</p>
            <a
              class="team__social"
              href="https://github.com/InnaShavarovska"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src=" "
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Oleksandr</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=""
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src="./images/team/Shadi.jpeg"
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Shadi</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href="https://github.com/Shadioso"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src=" "
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Vika Rabotilova</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=""
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src=" "
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Vlad Shostak</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=""
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src=" "
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Yevhen Chaban</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=""
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src=" "
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Viktor</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=""
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src=" "
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Natalia</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=""
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
          <li class="modal-team__item">
            <div class="modal-team__img-container">
              <img
                class="modal-team__img"
                src=" "
                alt="Oleg"
                width="200"
                height="150"
              />
            </div>
            <h2 class="team__name">Ivan</h2>
            <p class="team__profession">Developer</p>
            <a
              class="team__social"
              href=""
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub"
            >
            <svg class="git-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
            </a>
          </li>
  </div>




